
.content{   
    text-align: center;  
}

.content p{      
    text-align: center; 
    font-size: 30px;   
    margin: 20px;
    /* flex-direction: column; */
    height: 100%;
}

.content img{       
    width: 40%;    
}