
/* react에서 link 태그는 가상의 태그, 컴파일하면 a태그로 변경됨 그래서 a태그로 css지정 */
/* a{
    text-decoration: none;
    margin-left: 10%;   
} */

h1{
    color: #F8EDEB;
    font-weight: bold;
}

button{
    height: 30px;
    width: 80px;
    color: #cb997e;
    border: none;
    border-radius: 10px;
    border-color: #F8EDEB;
    background-color: #F8EDEB;
    /* text-decoration: none; */
    text-align:center; 
    font-family: 'HancomMalangMalang-Regular'; 
    font-size: 15px;
    font-weight: bold;    
    margin: 5px;
    /* align-content: center; */
    /* justify-content: center;  */
    cursor: pointer;
}

button:hover{    
    color: #F8EDEB;
    background-color: #9c6644;            
}


.navbar {
    background-color: #cb997e;   
    height: 80px;
    display: flex;
    flex-direction: row;    
}

.navbar .rightSide{
    flex: 50%;   
    display: flex;    
    padding-left: 20px;
    align-items: center;
}

.navbar .rightSide img{   
    width: 80px;
    height:60px;    
    margin-right: 10px;  
}

.navbar .rightSide text{   
    text-decoration: none;
    margin-left: 10%;    
}

/* .navbar .rightSide h1{
    font-family: 'HancomMalangMalang-Regular';
} */

.navbar .center{
    flex: 50%;   
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .center text{  
    font-size: 30px;  
    margin: 5px; 
}

.navbar .leftSide{
    flex: 50%;   
    display: flex;  
    align-items: center;
    justify-content: right;
}


